body{
    font-family: Okra, Helvetica, sans-serif;
}

.navbar{
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.logo_icon img{
    height: 80px;
    width: 80px;

}

.lnk{
    margin-right: 80px;
}

.lnk ul{
    display: flex;
}

ul li{
    padding: 20px;
    list-style: none;
}

a{
    text-decoration: none;
}

.logo{
    
    width: 100px;
}

.card-container{
    width: 80%;
    height: 50vh;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card{
    width: 18%;
    height: 70%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 70%;
    height: 50%;
}

.foot-container{
    width: 100%;
    height: 70vh;
    background-color: #f8f8f8;
    /* border: 1px solid red; */
}

.foot-logo{
    width: 75%;
    height: 10vh;
    /* border: 1px solid green; */
    margin:  0px auto;
}

.zom img{
    width: 132px;
    height: 28px;
}

.info-container{
    width: 75%;
    height: 45vh;
    /* border: 1px solid red; */
    margin:  0px auto;
    display: flex;
}

.info-child{
    width: 20%;
    height: 100%;
    /* border: 1px solid purple; */
    text-align: justify;
}

.info-child h4 {
    font-size: 14px;
    font-weight: 500;
}

.info-child p{
    font-size: 14px;
    font-weight: 300;
    color: rgb(105, 105, 105);
}

.foot-info{
    width: 75%;
    height: 15vh;
    /* border: 1px solid blue; */
    margin: 0px auto;
    font-size: 13px;
    font-weight: 300;
    color: rgb(79, 79, 79);
    line-height: 17px;
    
}

.btn-container {
    /* border: 1px solid red; */
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

.country{
    border: 1px solid rgb(79, 79, 79);
    border-radius: 8px;
    width: 37%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lang{
    border: 1px solid  rgb(79, 79, 79);
    border-radius: 8px;
    width: 37%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.country img{
    width: 20px;
    height: 20px;
}

.lang img{
    width: 20px;
    height: 20px;
}

.btn-container button img{
    height: 50px;
    width: 50px;
}

.foot-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-logo .zom{
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    
}

.about ul{
    line-height: 0.3px;
}

.zverse ul{
    line-height: 0.01px;
}

.logo img{
    height: 25px;
    width: 25px;

}

.lnk-container{
    display: flex;
}

.down-container img{
    width: 70%;
    height: 50%;
}

.down-container{
    /* border: 1px solid green; */
    margin-top: 50px;
    text-align: center;
}

.down-btn{
    margin-top: 5px;
}

.foot-para{
    /* border: 1px solid green; */
    width: 93%;
    margin: 0px auto;
}














.userform{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;
}

.userform h1{
    color: blueviolet;
}

form input{
    margin: 10px 0;
    width: 200px;
    text-align: center;
}

form button{
    margin: 10px 0;
    width: 100px;
    background-color: blueviolet;
    color: white;
}



.contactform{
    width: 500px;
    height: 500px;
    margin: 0px auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}